<!--Section: Features v.2-->
<section class="text-center" id="service">

    <!--Section heading-->
    <h2 class="h1 py-5 font-weight-bold">Our Services</h2>
    <!--Section description-->
    <p class="px-5 mb-5 pb-3 lead grey-text">Our Web-App will try to map experienced Job Seeking people with Experience less Startup Ventures and will help ventures Economically by Mapping with Interested Investors..</p>
  
    <!--Grid row-->
    <div class="row text-left">
  
      <!--Grid column-->
      <div class="col-md-4 mb-4">
        <div class="col-1 col-md-2 float-left">
          <mdb-icon fas icon="bullhorn" size="2x" class="blue-text"></mdb-icon>
        </div>
        <div class="col-10 col-md-9 col-lg-10 float-right">
          <h4 class="font-weight-bold">We create Opportunities</h4>
          <p class="grey-text">We create ample of oppurtunities for Investment purpose ,For getting funds and For getting Job.</p>
          <a mdbBtn color="primary" size="sm" class="ml-0 waves-light" mdbWavesEffect>Learn more</a>
        </div>
      </div>
      <!--Grid column-->
  
      <!--Grid column-->
      <div class="col-md-4 mb-4">
        <div class="col-1 col-md-2 float-left">
          <mdb-icon fas icon="cogs" size="2x" class="pink-text"></mdb-icon>
        </div>
        <div class="col-10 col-md-9 col-lg-10 float-right">
          <h4 class="font-weight-bold">Customization</h4>
          <p class="grey-text">We customize the path between Investor , New Ventures and Job Seekers. Venture can directly approach the investor or vice versa</p>
          <a mdbBtn color="pink" size="sm" class="ml-0 waves-light" mdbWavesEffect>Learn more</a>
        </div>
      </div>
      <!--Grid column-->
  
      <!--Grid column-->
      <div class="col-md-4 mb-4">
        <div class="col-1 col-md-2 float-left">
          <mdb-icon fas icon="tachometer-alt" size="2x" class="purple-text"></mdb-icon>
        </div>
        <div class="col-10 col-md-9 col-lg-10 float-right">
          <h4 class="font-weight-bold">Security</h4>
          <p class="grey-text">None can access the profile of others in same Category.
            Eg :- One Start-Up can not seek into the idea 	of 	other Start-Up.
            .</p>
          <a mdbBtn color="secondary" size="sm" class="ml-0 waves-light" mdbWavesEffect>Learn more</a>
        </div>
      </div>
      <!--Grid column-->
  
    </div>
    <!--Grid row-->
  
  </section>
  <!--Section: Features v.2-->