<div class="card card-deck" id="about">
    <!-- Card -->
    <mdb-card>
      <div class="view overlay waves-light" mdbWavesEffect>
        <!-- Card img -->
        <mdb-card-img src="../../../assets/images/undraw_startup_life_2du2.png" alt="Card image cap"></mdb-card-img>
        <a>
          <div class="mask rgba-white-slight"></div>
        </a>
      </div>
      <!--Card content-->
      <mdb-card-body>
        <!--Title-->
        <mdb-card-title>
          <h4>Start-Up Ventures</h4>
        </mdb-card-title>
  
        <!--Text-->
        <mdb-card-text> Will use the System to get in touch with job seekers to work with them and to interact with Investors to get Financial help from them.
        </mdb-card-text>
  
        <a routerLink='/Sign-Up' mdbBtn color="primary" mdbWavesEffect>Sign up</a>
      </mdb-card-body>
    </mdb-card>
  
    <!-- Card -->
    <mdb-card>
      <div class="view rgba-white-slight waves-light" mdbWavesEffect>
        <!-- Card img -->
        <mdb-card-img src="../../../assets/images/undraw_investment_xv9d.png" alt="Card image cap"></mdb-card-img>
        <a>
          <div class="mask"></div>
        </a>
      </div>
      <!--Card content-->
      <mdb-card-body>
        <!--Title-->
        <mdb-card-title>
          <h4>Angel Investors</h4>
        </mdb-card-title>
  
        <!--Text-->
        <mdb-card-text> They will use the System for Angel investing in Start-Up ventures they are interested in by checking their profile. Note : Any person can be Investor .
        </mdb-card-text>
  
        <a routerLink='/Sign-Up' mdbBtn color="primary" mdbWavesEffect>Sign up</a>
      </mdb-card-body>
    </mdb-card>
  
    <!-- Card -->
    <mdb-card>
      <div class="view rgba-white-slight waves-light" mdbWavesEffect>
        <!-- Card img -->
        <mdb-card-img src="../../../assets/images/undraw_career_progress_ivdb.png" alt="Card image cap"></mdb-card-img>
        <a>
          <div class="mask"></div>
        </a>
      </div>
      <!--Card content-->
      <mdb-card-body>
        <!--Title-->
        <mdb-card-title>
          <h4>Job Seekers</h4>
        </mdb-card-title>
  
        <!--Text-->
        <mdb-card-text> They will use the App to get job and work with Start-Up ventures according to their expertise and salary expected so that less-experienced ventures will get experienced employees .
        </mdb-card-text>
  
        <a routerLink='/Sign-Up' mdbBtn color="primary" mdbWavesEffect>Sign Up</a>
      </mdb-card-body>
    </mdb-card>
  </div>